<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Placement Predictor</title>
    <link rel="icon" href="/static/assets/logo.png" type="image/icon type">
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <h1>College Placement Predictor</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/home">Prediction Form</a></li>
                <li><a href="https://github.com/soumikdas04">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://drive.google.com/drive/folders/1CHN92UMPY4N7OzJiMlotvwpl9E-ThUts?usp=sharing">Documentation</a></li>
                <li><a href="https://drive.google.com/drive/folders/1VhFPTd-4nNO3q30E9c1X-gergIPDVqNq?usp=drive_link">Presentation</a></li>
                <li><a href="https://github.com/login">Login</a></li>
            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome to the Placement Predictor</h1>
        <p line-height: 1.8>Click the button below to start predicting your placement chances.</p>
        <div class="btn">
            <button class="form-btn glow-on-hover">
            <a href="/home" class="btn">PREDICTION FORM</a>
            </button>
          </div>
    </div>

    <footer>
        <p>&copy; 2025 Placement Predictor by Soumik Das. All rights reserved.</p>
    </footer>
    
    <script src="/static/js/script.js"></script>
</body>
</html>
